In [2]:
# Muhammad Ariefuddin Satria Dharma
# 119140149
# PBF RA
from functools import reduce
from math import sqrt

In [3]:
# 1. Buat fungsi mencari jumlah bilangan genap dari list L! Example
# L = [2,1,9,10,3,90,15]
# Output: 3

L = [2,1,9,10,3,90,15]

def count_even(current_sum, current_value):
    return current_sum + 1 if current_value % 2 == 0 else current_sum


result = reduce(count_even, L, 0)
result

3

In [4]:
# 2. Buat fungsi untuk menghitung n! Menggunakan reduce!
def factorial(n):
    return 1 if n == 0 else reduce(lambda x, y: x * y, range(1, n+1))

print(factorial(5)) # Output: 120

120

In [5]:
# 3. Hitung euclidian distance dari dua vektor berikut menggunakan
# higher order function! 
# X = [2,5,6,7,10]
# Y = [-2,9,2,-1,10]

X = [2, 5, 6, 7, 10]
Y = [-2, 9, 2, -1, 10]

def euclidean_distance(X, Y):
    squared_diff = list(map(lambda x, y: (x - y) ** 2, X, Y))
    sum_squared_diff = reduce(lambda x, y: x + y, squared_diff)
    return sqrt(sum_squared_diff)

# Mencetak hasil jarak Euclidean
print("Jarak Euclidean antara X dan Y adalah:", euclidean_distance(X, Y))

Jarak Euclidean antara X dan Y adalah: 10.583005244258363

In [8]:
# 4. Terdapat dictionary employee berisi nama dan umur pegawai, lakukan reduce untuk mengetahui berapa jumlah pegawai yang berumur > 25 tahun !
employee = {
    'Nagao':35 , 'Ishii':30 , 'Kazutomo':20 , 'Saito':25 , 'Hidemi':29,
}

students = {
    'YOSIA ADWILY NAINGGOLAN': 48,
    'Ari Sigit': 48,
    'HUSNI NA`FA MUBAROK': 24,
    'Shula Talitha Ardhya Putri': 32,
    'JASMINE GEORGINA SEKARTAJI': 26,
    'hanna sajidah': 48,
    'Veni Zahara Kartika': 17,
    'Elsyah Sapyrah': 33,
    'ANNISA CAHYANI SURYA': 27,
    'MUHAMMAD SYAUQI ATTALLAH': 38,
    'DIMAS RIZKY RAMADHANI': 33,
    'Muhammad Rendy Saputra': 39,
    'MUHAMMAD HANIF FAROS': 20,
    'M. FARHAN ATHAULLOH': 18,
    'MUHAMMAD FAHRUL ADITYA': 19,
    'BALQIS DWIAN FITRI ZAMZAMI': 37,
    'Muhammad Bagas Kurnia': 43,
    'CATHERINE FIRDHASARI MAULINA SINAGA': 39,
    'ANDRIAN AGUSTINUS LUMBAN GAOL': 45,
    'KIWIT NOVITASARI': 40,
    'EVAN APRIANTO': 47,
    'RIKA AJENG FINATIH': 21,
    'NADIA SILVANI': 20,
    'ANISA DINI AMALIA': 21,
    'Evan Aryaputra': 22,
    'NADILLA ANDHARA PUTRI': 17,
    'Pramudya Wibowo': 18,
    'SYLVIANI PRIMA ASTUTI ANANDA': 49,
    'Anissa Luthfi Alifia': 22,
    'PATRICIA GABY RAHMAWATI TAMBA': 46,
    'PUTRI OLIVIA NURAENI': 47,
    'KHOIRUL AMAR SIDIK': 29,
    'LIA ALYANI': 21,
    'Tarisah': 30,
    'Leonard Andreas Napitupulu': 31,
    'MUJADID CHOIRUS SURYA': 33,
    'DEVINA ANIN SAFITRI': 47,
    'MUHAMMAD ARSAL RANJANA UTAMA': 25,
    'WULAN SABINA': 33,
    'M. AKBAR RESDIKA': 25,
    'VANESSA OLIVIA ROSE': 27,
    'Ditta Winanda Putri': 45,
    'Maria Gresia Hutabarat': 30,
    'A Rafi Paringgom Iwari': 18,
    'ANDINI NUR IZZATI': 32,
    'M. FAQIH': 16,
    'Muhammad Ariefuddin Satria Dharma': 18,
    'Fahri Novaldi': 26
}

all = {**employee, **students}

In [9]:
def filter_by_keyword(keyword, dictionary):
    return dict(filter(lambda x: keyword in x[0].lower(), dictionary.items()))

filter_by_age = lambda age, dictionary: dict(filter(lambda x: x[1] > age, dictionary.items()))

min_age = 25
keyword = 's'

# count using reduce
result = reduce(lambda x, y: x + 1, filter_by_age(min_age, filter_by_keyword(keyword, all)).values(), 0)
result

25